{
    admin off
}

:{$PORT:8080} {

    log {
        output stdout
        format console
    }

    @blocked {
        header_regexp User-Agent (?i)(curl|wget|python|bot|crawler|spider|scan|scrapy|go-http-client|libwww-perl|java|php|perl|ruby)
        path_regexp (?i)^/(
            \.|                      
            xmlrpc\.php|
            wp-|wp-login|wp-config|
            phpmyadmin|
            wlwmanifest\.xml|
            aws|
            docker|
            composer|
            backup|dump|
            config|
            bitbucket|travis|
            npm|
            svn|git|
            htaccess
        )
    }

    handle @blocked {
        respond 403
    }

    handle {

        header {
            X-Caddy "active"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin"
        }

        reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
    }
}
