{
    admin off
}

:{$PORT:8080} {

    log {
        output stdout
        format console
    }

    @bad_ua {
        header_regexp User-Agent (?i)(curl|wget|python|bot|crawler|spider|scan|scrapy|go-http-client|libwww-perl|java|php|perl|ruby)
    }

    handle @bad_ua {
        respond 403
    }

    @bad_path {
        path_regexp (?i)^/(\.|xmlrpc\.php|wp-|wp-login|wp-config|phpmyadmin|wlwmanifest\.xml|aws|docker|composer|backup|dump|config|bitbucket|travis|npm|svn|git|htaccess)
    }

    handle @bad_path {
        respond 403
    }

    handle {

        header {
            X-Caddy "active"
            X-Frame-Options "DENY"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "strict-origin"
        }

        reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
    }
}
